<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-book-heading" data-cy="BookCreateUpdateHeading">Create or edit a Book</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_isbn">Isbn</label>
          <input type="text" class="form-control" name="isbn" id="field_isbn" data-cy="isbn" formControlName="isbn" />
          <div *ngIf="editForm.get('isbn')!.invalid && (editForm.get('isbn')!.dirty || editForm.get('isbn')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('isbn')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('isbn')?.errors?.minlength">
              This field is required to be at least 5 characters.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('isbn')?.errors?.maxlength">
              This field cannot be longer than 13 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_publishYear">Publish Year</label>
          <input
            type="text"
            class="form-control"
            name="publishYear"
            id="field_publishYear"
            data-cy="publishYear"
            formControlName="publishYear"
          />
          <div *ngIf="editForm.get('publishYear')!.invalid && (editForm.get('publishYear')!.dirty || editForm.get('publishYear')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('publishYear')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('publishYear')?.errors?.minlength">
              This field is required to be at least 4 characters.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('publishYear')?.errors?.maxlength">
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_copies">Copies</label>
          <input type="number" class="form-control" name="copies" id="field_copies" data-cy="copies" formControlName="copies" />
          <div *ngIf="editForm.get('copies')!.invalid && (editForm.get('copies')!.dirty || editForm.get('copies')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('copies')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('copies')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cover">Cover</label>
          <div>
            <img
              [src]="'data:' + editForm.get('coverContentType')!.value + ';base64,' + editForm.get('cover')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('cover')!.value"
              alt="book image"
            />
            <div *ngIf="editForm.get('cover')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('coverContentType')!.value }}, {{ byteSize(editForm.get('cover')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('cover', 'coverContentType', 'file_cover')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_cover" data-cy="cover" (change)="setFileData($event, 'cover', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="cover" id="field_cover" data-cy="cover" formControlName="cover" />
          <input
            type="hidden"
            class="form-control"
            name="coverContentType"
            id="field_coverContentType"
            formControlName="coverContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_publisher">Publisher</label>
          <select class="form-control" id="field_publisher" data-cy="publisher" name="publisher" formControlName="publisher">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="publisherOption.id === editForm.get('publisher')!.value?.id ? editForm.get('publisher')!.value : publisherOption"
              *ngFor="let publisherOption of publishersCollection; trackBy: trackPublisherById"
            >
              {{ publisherOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="field_authors">Author</label>
          <select class="form-control" id="field_authors" data-cy="author" multiple name="authors" formControlName="authors">
            <option
              [ngValue]="getSelectedAuthor(authorOption, editForm.get('authors')!.value)"
              *ngFor="let authorOption of authorsSharedCollection; trackBy: trackAuthorById"
            >
              {{ authorOption.firstName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
